.card {
  margin: 100px auto;
  width: 90vw;
  max-width: 280px;
  border-radius: 8px;
  -webkit-box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
  -moz-box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
  box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
  border: 1px solid #e5e9f1;
  overflow: hidden;
  color: #132237;
}
.description {
  padding: 30px 0;
  background-color: #fff;
}
.avatarImg {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
}
.name {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.usertag,
.userlocation {
  font-size: 16px;
  text-align: center;
  color: #96a3ae;
}

.usertag {
  margin: 10px 0;
}
.userstats {
  width: 100%;
  display: flex;
  list-style: none;
}
.statsItem {
  padding: 20px 0;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f7f9;
  border-top: 1px solid #e5e9f1;
}
.statsItem:not(:last-of-type) {
  border-right: 1px solid #e5e9f1;
}
.label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #96a3ae;
}
.quantity
{
  font-size: 16px;
  font-weight: 700;
}
